#######################################
#        BACKEND (.NET / VS)          #
#######################################

# Build results
bin/
obj/
[Bb]uild/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Temporary files
*.tmp
*.temp
*.log
*.tlog

# VS-specific folders
.vs/
.vshistory/
.localhistory/
_ReSharper*/
.idea/
*.DotSettings.user

# EF Core
Migrations/

# Database files
*.mdf
*.ldf
*.ndf
*.db
*.db-shm
*.db-wal
*.dbmdl

# launchSettings (optionnel, souvent à ignorer sauf en équipe avec settings partagés)
**/launchSettings.json

# Configuration
**/appsettings.Development.json
**/appsettings.Local.json
*.env
*.env.*

# Publish results
**/publish/
**/out/

# Logs
*.log
*.svclog

# Test results / coverage
TestResult*/
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

# Code Coverage tools
.axoCover/
coverage/
BenchmarkDotNet.Artifacts/

# JetBrains Rider
.idea/

# Temporary backups
*.bak
*.backup.json
Backup*/
MigrationBackup/
UpgradeLog*.htm
UpgradeLog*.XML

#######################################
#   FRONTEND (Angular - haelya-front) #
#######################################

# dependencies
frontend/haelya-front/node_modules/

# production build
frontend/haelya-front/dist/
frontend/haelya-front/.angular/
frontend/haelya-front/.angular/cache/
frontend/haelya-front/out-tsc/
frontend/haelya-front/tmp/
frontend/haelya-front/bazel-out/

# logs
frontend/haelya-front/npm-debug.log
frontend/haelya-front/yarn-error.log
frontend/haelya-front/testem.log
frontend/haelya-front/libpeerconnection.log

# coverage
frontend/haelya-front/coverage/

# misc
frontend/haelya-front/.sass-cache/
frontend/haelya-front/typings/
frontend/haelya-front/connect.lock

#sensitive env files
frontend/haelya-front/src/environments/environment.prod.ts

# IDEs and editors
frontend/haelya-front/.idea/
frontend/haelya-front/.project
frontend/haelya-front/.classpath
frontend/haelya-front/.c9/
frontend/haelya-front/.settings/
frontend/haelya-front/*.launch
frontend/haelya-front/*.sublime-workspace

# VSCode
frontend/haelya-front/.vscode/*
!frontend/haelya-front/.vscode/settings.json
!frontend/haelya-front/.vscode/tasks.json
!frontend/haelya-front/.vscode/launch.json
!frontend/haelya-front/.vscode/extensions.json

# System
frontend/haelya-front/.DS_Store
frontend/haelya-front/Thumbs.db

#######################################
#        GLOBAL / OS / GIT            #
#######################################

# VS Code
.vscode/
*.code-workspace

# OS / Windows
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

# Git
*.orig
*.patch
*.rej

# Archives
*.zip
*.tar
*.gz
*.7z