.quantity-selector {
  display: inline-flex;
  align-items: center;

  .qty-btn {
    width: 40px;
    height: 40px;
    background-color: #f3f2ec;
    border: 1px solid #c9ab8c;
    color: #c9ab8c;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0; // supprime tout décalage vertical

    &:hover {
      background-color: #c9ab8c;
      color: white;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .qty-input {
    width: 40px;
    height: 40px;
    margin: 0 8px;
    border: 1px solid #c9ab8c;
    border-radius: 3px;
    background-color: #fffdf8;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    text-align: center;

    padding: 0; // aligne verticalement
    line-height: 40px; // même que height pour parfait centrage visuel

    &:focus {
      outline: none;
      border-color: #74642f;
    }
  }
}